<header class="site-header">


      <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/">DistiSuite</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <div class="nav navbvar-nav">
                {% for my_page in site.pages %}
                    {% if my_page.title %}
                        <a class="navbar-text navbar-right" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                    {% endif %}
                {% endfor %}
                <p class="navbar-text navbar-right"><i class="fa fa-phone" aria-hidden="true"></i> 1 800-528-1384</p>
                </div>
            </div>

        </div>
    </nav>

</header>
